.about-us {
    padding-top: 73px;
    padding-bottom: 100px;
}

.about-us__container {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 640px 1fr;
  }
}

.about-us__paragraph {
  font-size: 16px;
  line-height: 25px;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 28px;
  }
}

.about-us__text {
    padding-top: 28px;
    margin-bottom: 79px;
}

.about-us__image img{
  display: none;

  @media (min-width: 1150px) {
    display: block;
    margin: auto;
  }
}
