.about-us {
    padding-top: 76px;
    padding-bottom: 75px;
}

.about-us__container {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 640px 1fr;
  }
}

.about-us__paragraph {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 28px;
}

.about-us__text {
    padding-top: 26px;
}

.about-us__image img{
  display: block;
  margin: auto;
}
