.call__title {
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    width: 190px;
    display: block;
    padding-bottom: 38px;
}

.call__button {
  padding: 15px 46px;
  font-size: 12px;
  text-decoration: none;
}
