.contacts__title {
  font-size: 48px;
}

.contacts__map {
  @media (min-width: 1150px) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}

.contacts__contacts {
  padding-top: 27px;
  font-size: 17px;
  line-height: 26px;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 1150px) {
    padding-top: 10px;
  }
}

.contacts__phone {

}

.contacts__item {
  margin-bottom: 27px;
  padding-left: 61px;
  background-size: 40px;
  background-position: left top;

  @media (min-width: 1150px) {
    margin-bottom: 12px;
  }

  &--call {
    background-image: url("../img/icon-call.png");
    background-repeat: no-repeat;
    padding: 16px 60px 0;
  }

  &--location {
    background-image: url("../img/icon-location.png");
    background-repeat: no-repeat;
    padding: 16px 60px 0;
  }
}

.contacts__map-picture {
  grid-row: 1/3;
  grid-column: 2/3;
}
