.footer {
  padding-top: 76px;
  padding-bottom: 10px;
  background-color: #ecebeb;
}

.footer__policy-page-up {
  display: grid;
  grid-template-columns: auto 1fr;
}

.footer__page-up {
  text-decoration: none;
  &::before {
    content: "";
    display: block;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: #b97024;
    background-image: url("../img/polygon.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
  }
}

.footer__policy {
  font-size: 16px;
  line-height: 16px;
  margin-top: auto;
  padding-left: 33px;
}
