.header {
  background-color: #dceaf8;
  padding-top: 120px;

  @media (min-width:768px) {
    padding-bottom: 92px;
  }

  @media (min-width:768px) {
    padding-bottom: 120px;
  }
}


.header__wrapper {
  @media (min-width:768px) {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}
