.header {
  background-color: #dceaf8;
  padding-top: 30px;

  @media (min-width:768px) {
    padding-top: 121px;
    padding-bottom: 137px;
    background-color: #dceaf8;
  }
}


.header__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
