.header {
  background-color: #dceaf8;
  padding-top: 120px;

  @media (min-width:768px) {
    padding-top: 116px;
    padding-bottom: 92px;
    background-color: #dceaf8;
  }
}


.header__wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}
