.how-work {
  padding-top: 80px;
  padding-bottom: 87px;

  background-color: #ecebeb;
}

.how-work__title {
  font-size: 35px;
  line-height: 56px;
  margin-bottom: 24px;
}

.how-work__list {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 20px;
  row-gap: 30px;

  @media (min-width: 768px) {
    padding: 0;
    column-gap: 4%;
    grid-template-columns: repeat(4, 1fr);
  }
}

.how-work__item {
  font-size: 15px;
  padding-top: 118px;
  line-height: 23px;
  background-size: 60px;

  &--phone {
    width: 100%;
    height: 100%;

    background-image: url("../img/icon-phone.png");
    background-repeat: no-repeat;
    background-position: top 20px left;
  }

  &--meet {
    width: 100%;
    height: 100%;

    background-image: url("../img/icon-meet.png");
    background-repeat: no-repeat;
    background-position: top 21px left 10px;
  }

  &--dogovor {
    width: 100%;
    height: 100%;

    background-image: url("../img/icon-dogovor.png");
    background-repeat: no-repeat;
    background-position: top 21px left;
  }

  &--protect {
    width: 100%;
    height: 100%;

    background-image: url("../img/icon-protect.png");
    background-repeat: no-repeat;
    background-position: top 21px left;
  }
  @media (min-width: 768px) {
    padding-right: 42px;
  }
}
