.navigation__list {
  @media (max-width:768px) {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    padding: 42px 25px;
    background-color: #dceaf8;
  }
  @media (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 48px;
  }
}

.navigation__item {
  @media (max-width:768px) {
    margin-bottom: 15px;
  }
}

.navigation__toggle {
  width: 48px;
  height: 48px;
  background-color: rgba(17, 17, 17, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 280px;

  @media (min-width: 768px) {
    display: none;
  }
}

.naviegation__tog44gle {
  position: absolute;
  top: 29px;
  right: 31px;
  z-index: 10;
  width: 20px;
  height: 20px;
  padding: 0;
  background-image: url("../img/sprite.svg#icon-menu");
  background-size: 20px 14px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;

  @media (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.navigation__link {
  font-size: 18px;
  text-decoration: none;
  color: #1e1d26;

  &:hover {
    color: #1aeb6d;
  }
}

.navigation__phone {
  font-size: 18px;
  color: #1e1d26;
}



.navigation--opened .navigation__toggle {
  @media (max-width: 767px) {
    background-color: red;

  }
}

.navigation--opened .navigation__list {
  @media (max-width: 767px) {
    display: block;
  }
}

.no-js .navigation__toggle {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.no-js .navigation {
  @media (max-width: $mobile-width-only) {
    position: static;

    padding-top: 0;
  }
}

.no-js .navigation__list {
  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.navigation__item {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  @media (min-width: 768px) {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
  }
}
