.navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  padding-left: 48px;

}

.navigation__toggle {
  display: none;
}

.navigation__link {
  font-size: 18px;
  text-decoration: none;
  color: #1e1d26;
  
  &:hover {
    color: #1aeb6d;
  }
}

.navigation__phone {
  font-size: 18px;
  color: #1e1d26;
}
