// .navigation {
//   max-width: 260px;
//   background-color: #1aeb6d;
// }


.navigation--opened {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.navigation__list {
  @media (max-width:767px) {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 42px 25px;
    background-color: #dceaf8;
    max-width: 300px;
    padding: 60px 40px 35px;
    z-index: 5;
    position: fixed;
  }
  @media (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-left: 79px;
  }
}

.navigation__item {
  padding-bottom: 20px;
   @media (min-width:768px) {
    margin-left: 25px;
  }

  @media (min-width:1150px) {
    margin-left: 55px;
  }
}

.navigation__toggle {
  width: 48px;
  height: 48px;
  background-color: rgba(17, 17, 17, 0.5);
  border: none;
  border-radius: 50%;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 10;

  &::before {
    content: '';
    position: absolute;
    top: 17px;
    left: 13px;
    width: 22px;
    height: 2px;
    background-color: #ffffff;
    box-shadow: 0 6px 0 0 #ffffff, 0 12px 0 0 #ffffff;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.naviegation__tog44gle {
  position: absolute;
  top: 29px;
  right: 31px;
  z-index: 10;
  width: 20px;
  height: 20px;
  padding: 0;
  background-image: url("../img/sprite.svg#icon-menu");
  background-size: 20px 14px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;

  @media (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.navigation__link {
  font-size: 18px;
  text-decoration: none;
  color: #1e1d26;
  padding-right: 103px;

  &:hover {
    color: #1aeb6d;
  }

  @media (min-width: 768px) {
    font-size: 16px;
  }

  @media (min-width: 1150px) {
    font-size: 18px;
  }
}

.navigation__phone {
  font-size: 18px;
  color: #1e1d26;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}



.navigation--opened .navigation__toggle {
  @media (max-width: 767px) {
    background-color: transparent;
    &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 15px;
    width: 18px;
    height: 2px;
    background-color: #1e1d26;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  }
}

.navigation--opened .navigation__list {
  @media (max-width: 767px) {
    display: block;
  }
}

.no-js .navigation__toggle {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.no-js .navigation {
  @media (max-width: $mobile-width-only) {
    position: static;

    padding-top: 0;
  }
}

.no-js .navigation__list {
  @media (max-width: $mobile-width-only) {
    display: block;
  }
}
