.presentation {
  background-color: #dceaf8;
  padding-bottom: 107px;
}

.presentation__wrapper {
  position: relative;
  @media (min-width:1150px) {
    display: grid;
    grid-template-columns: 1fr 420px;
  }
}

.presentation__text {
  padding-top: 39px;
  @media (min-width:768px) {
    padding-top: 15px;
  }
}

.presentation__title {
  font-size: 38px;
  line-height: 59px;
  margin: 0;
  margin-bottom: 28px;

  @media (min-width:768px) {
    font-size: 48px;
    line-height: 74px;
    font-weight: 700;
    width: 650px;
    padding-bottom: 56px;
  }
}

.presentation__description {
  line-height: 34px;
  font-size: 22px;
  font-weight: 700;
  width: 70%;
  display: block;

  @media (min-width:768px) {
    font-size: 30px;
  }
}

.presentation__call {
  padding-top: 192px;

  @media (min-width:768px) {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  }
}

.presentation__image {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #93badf;
  border-radius: 50%;
  right: 10px;
  bottom: 129px;

  @media (min-width:768px) {
    position: relative;
  }

  & img {
    position: absolute;
    bottom: 3px;
    left: -6px;
  }
}
