.private__list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 40px;
    row-gap: 46px;
    margin-top: 28px;
}

.private__item {
    background-color: #aecae5;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 334px;
}

.private__description {
    margin: 0;
    font-size: 18px;
    line-height: 28px;    
}

.private__button {
    padding: 13px 10px;
    
    &:hover {
        background-color: #93badf;
        background-image: none;
        color: #1e1d26;
    }
}