.private__title {
  font-size: 40px;
  line-height: 60px;

  @media (min-width: 768px) {
    width: 550px;
    margin-bottom: 7px;
  }
}

.corporate__list {

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 40px;
    row-gap: 25px;
    margin-top: 25px;
  }
}

.private__item {
    height: 230px;
    background-color: #aecae5;
    padding: 20px 30px 30px;
    border-radius: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      height: 330px;
    }
  }

.private__description {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
}

.private__button {
    padding: 13px 10px;
    &:hover {
        background-color: #93badf;
        background-image: none;
        color: #1e1d26;
    }
}
