.services {
  padding-top: 75px;
  padding-bottom: 43px;
}

.services__title {
  margin-bottom: 18px;
}

.services__list {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    justify-content: space-around;
    padding: 0;
    list-style: none;
  }
}

.services__item {
  // padding: 28px 60px;
  padding-top: 26px;
  padding-bottom: 36px;
  background-color: #aec9e4;
  margin-bottom: 56px;
}

.services__subtitle {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  text-align: center;
  margin-bottom: 16px;
}

.services__link {
  display: block;
  width: 200px;
  margin: auto;
  text-decoration: none;
}
