.services {
  padding-top: 75px;
}

.services__list {
  display: flex;
  justify-content: space-around;
  padding: 0;

  list-style: none;
}

.services__item {
  padding: 50px;

  background-color: #aec9e4;
}

.services__subtitle {
  font-weight: 400;
  font-size: 18px;
}

.services__link {
  display: flex;
  justify-content: center;
  margin: auto;
}
